* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
main {
    margin: 30px 30px;
}
footer {
    background-color: pink;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}
.card {
    width: 60%;
    margin: auto;
    margin-top: 100px;
    background-color: coral;
    border-radius: 10px;
}
.card2 {
    width: 100%;
    margin: auto;
}
figure {
    margin: 0;
}
.card-img {
    box-shadow: 0 15px 15px 0 black, 0 15px 15px 0 black;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 5px;
}
.box {
    height: 100%;
    width: 50%;
    border: 1px solid black;
    color: aliceblue;
    float: left;
}
header {
    height: 100vh;
    background-color: aqua;
}

.list {
    width: 70%;
    margin: auto;
}

li {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: red;
    font-weight: 900;
}
li:nth-child(2):hover{
    color: darksalmon;
    font-size: 20px;

}
img {
    width: 100%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h1 {
    width: 320px;
    height: 120px;
    margin: auto;
    padding: 20px;
    text-align: center;
}
#input {
    background-color: whitesmoke;
    color: black;
    width: 140px;
    height: 120px;
    text-align: center;
}

.button {
    background-color: whitesmoke;
    color: black;
    height: 50px;
    width: 140px;
    border-radius: 15px;
}

.position {
    position: absolute;
    left: 50%;
    bottom: 0;
    color: whitesmoke;
    transform: translate(-50%,-10%);
    background-color: coral;
    border-radius: 10px;
}

.position:hover {
    background-color: darkgrey;
    color: red;
}

@media only screen and (min-width: 600px) {
     .card, .card2 {
         background-color: darkkhaki;
         color: whitesmoke;
    }
}
 @media only screen and (min-width: 1200px) {
    .card, .card2 {
        background-color: pink;
        }
 }
@media only screen and (max-width: 800px) {
    .box {
        width: 100%;
    }
}
#left {
    background-color: whitesmoke;
    background-image: url("../img/elephants.jpg");
}
#right {
    background-color: whitesmoke;
    background-image: url("../img/petWaste.jpg");
}
#blue { background-color: blue;}